#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.game-block {
  margin: 0;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #ddd;
}
.piece-i {
  background-color: #db424a;
}
.piece-j {
  background-color: #ff9d6c;
}
.piece-l {
  background-color: #f1dc3d;
}
.piece-o {
  background-color: #389837;
}
.piece-s {
  background-color: #46a3ea;
}
.piece-t {
  background-color: #b04beb;
}
.piece-z {
  background-color: #705230;
}
.piece-preview {
  background-color: #ddd;
}

button:focus,
button:hover,
button:active {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
